<div class="profile-container">
  <div class="profile-box">
    <div class="profile-box-header"></div>
    <div class="profile-box-body">
      <div class="profile-box-img"><i class="fa fa-user"></i></div>
      <div class="profile-box-name">
        <b class="profile-box-fullname" [routerLink]="['/'+authUser?.name+'/profile']">{{ authUser?.name }}</b>
        <div class="profile-box-refname">@{{ authUser?.name }}</div>
      </div>
      <div class="profile-box-details">
        <div class="detail-box box-1">
          <div class="box-title">Tweets</div>
          <h3>{{authUserTweets?.length}}</h3>
        </div>
        <div class="detail-box box-2">
          <div class="box-title">Volgend</div>
          <h3>{{authUser?.following?.length}}</h3>
        </div>
        <div class="detail-box box-3">
          <div class="box-title">Volgers</div>
          <h3>{{authUser?.followers?.length}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
