@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import '../../../../assets/colors';

.profile-container {
}

.profile-box {
  width: 100%;
  height: 230px;
  background: #fff;
}

.profile-box-header {
  height: 95px;
  width: 100%;
  background-color: $brand-color;
}

.profile-box-body {
  display: inline-block;
  background-color: #fff;
  width: 100%;
}

.profile-box-img {
  border-radius: 50%;
  width: 72px;
  height: 72px;
  border: 2px solid #fff;
  background-color: $background;
  margin: -30px 0 0 10px;
  text-align: center;
  font-size: 70px;
  overflow: hidden;
  box-shadow: 0 0 2px 3px rgba(29, 161, 242, 0.4);
}

.profile-box-name{
  position: relative;
  width: 60%;
  left: 40%;
  top: -40px;
  line-height: 20px;
  text-align: left;
}

.profile-box-fullname{
  width: 100%;
  display: inline-block;
  font-size: 18px;
  color: $context-text;
}

.profile-box-fullname:hover{
  text-decoration: underline;
  cursor: pointer;
}

.profile-box-refname{
  margin-top: -10px;
  width: 100%;
  display: inline-block;
  font-size: 14px;
  color: $menu-text;
}

.profile-box-details{
  margin-top: -25px;
  width: 100%;
  height: 70px;
  display: grid;
  grid-template-columns: repeat(3, [col]1fr);
  grid-template-rows: [row] 1fr;
}

.detail-box{
  color: $menu-text;
  text-align: left;
  padding: 15px;
}

.detail-box h3{
  margin: 5px 0;
  font-size: 16px;
  color: $brand-color;
}

.box-title{
  width: 100%;
  font-weight: 700;
}

.box-1{
  grid-column: col 1;
  grid-row: row 1;
}

.box-2{
  grid-column: col 2;
  grid-row: row 1;
}

.box-3{
  grid-column: col 3;
  grid-row: row 1;
}
