@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import '../../../../assets/colors';

.kweet-container{
  min-height: 100vh;
}

.kweet-box{
  background-color: #fff;
  height: 200px;
  border-bottom: 1px solid $kweet-bottom-border;
  display: grid;
  grid-template-columns: [col] 10% [col] 90%;
  grid-template-rows: [row] 1fr;
}

.profile-img{
  grid-column: col 1;
  grid-row: row 1;
  margin-top: 10px;
  margin-left: 10px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: $background;
  font-size: 53px;
  text-align: center;
  overflow: hidden;
  align-self: start;
  justify-self: center;
}

.content{
  grid-column: col 2;
  grid-row: row 1;
  display: grid;
  grid-template-columns: [col] 1fr;
  grid-template-rows: [row] 30% [row] 50% [row] 20%;
}

.follower-info{
  grid-column: col 1;
  grid-row: row 1;
  padding: 20px 10px;
}

.follower-info span{
  font-size: 12px;
  font-weight: 400;
}

.follower-name{
  margin-right: 5px;
  font-size: 14px;
  font-weight: 800;
}

.follower-name:hover{
  text-decoration: underline;
  cursor: pointer;
}

.follower-info span{
  color: $menu-text;
  margin-right: 5px;
}

.kweet-date{
  float: right;
  font-size: 12px;
  color: lighten($menu-text, 30) !important;
}

.kweet-text{
  padding: 20px 10px;
  font-size: 14px;
}

.kweet-icons{
  padding: 20px 10px;
  align-self: center;
}

.kweet-icon{
  font-size: 16px;
  font-weight: 600;
  color: $kweet-icon-text;
  cursor: pointer;
}

.kweet-icon:hover{
  color: $kweet-like-hover;
}

.liked{
  color: $kweet-like-hover !important;
  font-weight: bold !important;
}

.liked .fa{
  color: $kweet-like-hover !important;
  font-weight: bold !important;
}

.kweet-icon-text{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.new-kweet{
  height: fit-content;
  background-color: $new-kweet-background;
  display: grid;
  grid-template-columns: [col] 10% [col] 90%;
  grid-template-rows: [row] 1fr;
}

.new-kweet-profile-img{
  grid-column: col 1;
  grid-row: row 1;
  margin-top: 10px;
  margin-left: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: $background;
  font-size: 35px;
  text-align: center;
  overflow: hidden;
  align-self: start;
  justify-self: center;
}

.new-kweet-content{
  width: 100%;
}

.new-kweet-textbox{
  height: 8px;
  border-radius: 8px;
  border: 1px solid $new-kweet-textbox-border;
  color: $menu-text;
  margin: 8px;
  padding: 12px;
  font-weight: 400;
  font-size: 14px;
  outline: none;
  width: calc(100% - 45px);
}

.new-kweet-textbox::placeholder {
  color: $new-kweet-text-color;
  opacity: 1;
}

.new-kweet-actions{
  grid-column: col 2;
  grid-row: row 2;
  justify-self: right;
  padding: 0 12px 8px;
}

.kweet-btn{
  float: right;
}
