<div class="kweet-container">
  <form class="new-kweet" (submit)="createTweet($event, kweettext.value)" *ngIf="myFeed">
    <div class="new-kweet-profile-img">
      <i class="fa fa-user"></i>
    </div>
    <div class="new-kweet-content">
      <input #kweettext type="text" class="new-kweet-textbox" placeholder="Wat houd je bezig?"
             (focus)="newKweetFocus()" (blur)="newKweetBlur()"
             maxlength="140" required/>
    </div>
    <div *ngIf="visibleNewKweet" class="new-kweet-actions">
      <button class="profile-btn btn-secondary kweet-btn" type="submit">Kweet</button>
    </div>
  </form>
  <div *ngFor="let tweet of tweets | reverse" class="kweet-box">
    <div class="profile-img">
      <i class="fa fa-user"></i>
    </div>
    <div class="content">
      <div class="follower-info">
        <b class="follower-name" [routerLink]="['/'+tweet?.sender?.name+'/profile']">{{tweet?.sender?.name}}</b>
        <span>@{{tweet?.sender?.name}}</span>
        <span class="kweet-date">{{tweet?.postedAt.substring(0, 19) | date: 'dd-MM-yyyy HH:mm'}}</span>
      </div>
      <div class="kweet-text">
        {{tweet?.tweet}}
      </div>
      <div class="kweet-icons">
        <div class="kweet-icon" (click)="toggleLikeTweet(tweet.id, checkListForUser(tweet?.likes, authUser.id))" [ngClass]="{'liked': checkListForUser(tweet?.likes, authUser.id) == true}">
          <i class="fa fa-heart-o">
            <span class="kweet-icon-text">{{tweet?.likes?.length}}</span>
          </i>
        </div>
      </div>
    </div>
  </div>
</div>
