<div class="content">
  <div class="menu" xmlns="">
    <div class="logo">
      <img class="menu-logo" src="../../../../assets/images/Twitter_Logo_Blue.svg"/>
    </div>
    <div class="menu-link">
      <a routerLink="">Startpagina →</a>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="text-wrapper">
      <h1>Sorry, deze pagina bestaat niet!</h1>
    </div>
  </div>
</div>
