@import '../../../../assets/colors';

.content {
  display: grid;
  grid-template-columns: [col] 10% [col] 25% [col] 30% [col] 25% [col] 10%;
  grid-template-rows: [row] 4vh [row] 96vh;
  font-family: sans-serif;
}

.menu{
  grid-column: col 1 / span 5;
  grid-row: row 1;
  display: grid;
  grid-template-columns: [col] 10% [col] 25% [col] 30% [col] 25% [col] 10%;
  grid-template-rows: [row] 100%;
  width: 100vw;
  background: $menu-background;
  border-bottom: 1px solid $menu-pagen-not-found-border-color;
}

.logo {
  grid-column: col 2;
  grid-row: row 1;
  align-self: center;
  justify-self: center;
}

.menu-logo {
  width: 38px;
  height: 37px;
}

.menu-link{
  grid-column: col 4;
  grid-row: row 1;
  align-self: center;
  justify-self: center;
}

.menu-link a{
  text-decoration: none;
  color: $menu-text;
  font-size: 13px;
  font-weight: 500;
}

.menu-link a:hover{
  text-decoration: underline;
}

.content-wrapper{
  grid-column: col 1 / span 5;
  grid-row: row 2;
  display: grid;
  background-color: $brand-color;
}

.text-wrapper{
  color: #fff;
  text-align: center;
  justify-self: center;
  align-self: start;
}

.text-wrapper h1{
  margin: 30px 0 0;
  font-size: 40px;
  font-weight: 200;
  line-height: 1;
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
}
