<div class="register-form-container">
  <div class="register-form-wrapper">
    <form class="register-form" (submit)="register($event, registerusername.value, registerpassword.value, registerpasswordconfirm.value)" [formGroup]="registerForm" novalidate>
      <img src="../../../../assets/images/Twitter_Logo_Blue.svg"/>
      <h2>Registreer vandaag op kwetter.</h2>
      <input #registerusername type="text" class="register-input" placeholder="Gebruikersnaam" value="{{username}}" formControlName="name"/>
      <input #registerpassword type="password" class="register-input" placeholder="Wachtwoord" value="{{password}}" formControlName="password"/>
      <input #registerpasswordconfirm type="password" class="register-input" placeholder="Herhaal Wachtwoord" formControlName="again"/>
      <div class="register-input">
        <input type="checkbox" (click)="toggleAccepted()" formControlName="accepted"/>
        <span>U gaat <b>akkoord</b> met het feit dat ik uw gegevens jat</span>
      </div>
      <button type="submit" class="btn-secondary" [disabled]="!registerForm.valid">Registreren</button>
    </form>
    <div *ngIf="registerForm.value.name && registerForm.value.password && registerForm.value.again">
      <h3>{{registerForm.value.name}}</h3>
      <h3>{{registerForm.value.password}}</h3>
      <h3>{{registerForm.value.again}}</h3>
    </div>
  </div>
</div>
