@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import '../../../../assets/colors';

.container{
  width: 100%;
  height: fit-content;
  text-align: left;
  display: grid;
  grid-template-columns: [col] 1fr;
  grid-template-rows: [row] 1fr;
}

.container-header{
  color: $menu-text;
  margin: 0 20px;
  padding: 10px;
}

.follower-container{
  text-align: left;
  display: grid;
  grid-template-columns: [col] 30% [col] 70%;
  grid-template-rows: [row] 1fr;
}

.profile-img{
  grid-column: col 1;
  grid-row: row 1;
  margin-top: 10px;
  margin-left: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: $background;
  border: 2px solid #fff;
  font-size: 35px;
  text-align: center;
  overflow: hidden;
  align-self: start;
  justify-self: center;
}

.content{
  grid-column: col 2;
  grid-row: row 1;
}

.follower-info{
  grid-column: col 1;
  grid-row: row 1;
  padding: 20px 10px;
}

.follower-info span{
  font-size: 12px;
  font-weight: 400;
}

.follower-name{
  margin-right: 5px;
  font-size: 14px;
  font-weight: 800;
}

.follower-name:hover{
  text-decoration: underline;
  cursor: pointer;
}
