<div class="container">
  <h2 class="container-header">Followers</h2>
  <div *ngFor="let follower of followers" class="follower-container">
    <div class="profile-img">
      <i class="fa fa-user"></i>
    </div>
    <div class="content">
      <div class="follower-info">
        <b class="follower-name" [routerLink]="['/'+follower?.name+'/profile']">{{follower?.name}}</b>
        <span>@{{follower?.name}}</span>
      </div>
    </div>
  </div>
</div>
