@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import '../../../../assets/colors';

.login-container{
  display: grid;
  grid-template-columns: repeat(2, [col] 1fr);
  grid-template-rows: [row]97vh [row]3vh;
}

.logo{
  grid-column: col 1;
  grid-row: row 1;
  display: grid;
  grid-template-columns: [col]1fr [col]2fr [col]1fr;
  grid-template-rows: [row]2fr [row]1fr [row]2fr;
  background-image: url("../../../../assets/images/Twitter_Logo_WhiteOnBlue.svg");
  background-size: 2300px;
  background-position-x: -340px;
  background-position-y: -720px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

.logo-text-wrapper{
  grid-column: col 2;
  grid-row: row 2;
  align-self: center;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.logo-text{
  display: block;
  margin: 40px;
}

.footer{
  grid-column: col 1 / span 2;
  grid-row: row 2;
  background-color: $background;
  text-align: center;
  color: #a3a3a3;
}

.footer div{
  margin-top: 6px;
}

.error{
  border-color: $warning-color;
}


