<div class="login-container">
  <div class="logo">
    <div class="logo-text-wrapper">
      <p class="logo-text"><i class="fa fa-search"></i> Volg je interesses</p>
      <p class="logo-text"><i class="fa fa-user-o"></i> Ontdek waar mensen over praten.</p>
      <p class="logo-text"><i class="fa fa-comment-o"></i> Praat mee.</p>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="footer">
    <div> &copy; 2018 Demian Melskens (don't be a dick license)</div>
  </div>
</div>
