@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import '../../../../assets/colors';

.overlay{
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $menu-pagen-not-found-border-color;
  display: grid;
  grid-template-columns: repeat(3, [col] 1fr);
  grid-template-rows: repeat(3, [row] 1fr);
}

.overlay-box{
  grid-column: col 2;
  grid-row: row 1 / span 2;
  display: grid;
  grid-template-columns: [col] 1fr;
  grid-template-rows: [row] 1fr [row] 4fr;
  width: 100%;
  height: min-content;
  align-self: center;
  background-color: $new-kweet-background;
  border-radius: 4px;

}

.overlay-box-header{
  grid-column: col 1;
  grid-row: row 1;
  display: grid;
  grid-template-columns: [col] 4fr [col] 1fr;
  grid-template-rows: [row] 1fr;
  background: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.overlay-box-header h3{
  justify-self: center;
  grid-column: col 1 / span 2;
  grid-row: row 1;
}

.overlay-box-header button{
  justify-self: right;
  grid-column: col 2;
  grid-row: row 1;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  outline: 0;
  background: transparent;
}

.overlay-box-header button i{
  font-size: 10px;
}

.overlay-box-body{
  grid-column: col 1;
  grid-row: row 2;
  background-color: $new-kweet-background;
  height: fit-content;
  padding: 10px;
  border-radius: 8px;
}

.new-kweet{
  height: 100%;
  background-color: $new-kweet-background;
  display: grid;
  grid-template-columns: [col]10% [col]90%;
  grid-template-rows: [row]1fr;
}

.new-kweet-content{
  width: 100%;
  grid-column: col 2;
  grid-row: row 1;
}

.new-kweet-profile-img{
  grid-column: col 1;
  grid-row: row 1;
  margin-top: 10px;
  margin-left: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: $background;
  font-size: 35px;
  text-align: center;
  overflow: hidden;
  align-self: start;
  justify-self: center;
}

.new-kweet-textbox{
  height: 8px;
  border-radius: 8px;
  border: 1px solid $new-kweet-textbox-border;
  color: $menu-text;
  margin: 8px;
  padding: 12px;
  font-weight: 400;
  font-size: 14px;
  outline: none;
  width: calc(100% - 45px);
}

.new-kweet-textbox::placeholder {
  color: $new-kweet-text-color;
  opacity: 1;
}

.new-kweet-actions{
  padding: 0 8px 8px;
  width: 94%;
}

.kweet-btn{
  float: right;
}
