<div *ngIf="visible" class="overlay" (click)="toggleOverlay()">
  <div class="overlay-box">
    <div class="overlay-box-header">
      <h3>Nieuwe Kweet opstellen</h3>
      <button><i class="fa fa-times"></i></button>
    </div>
    <div class="overlay-box-body">
      <form class="new-kweet" (submit)="createTweet($event, newkweettext.value)">
        <div class="new-kweet-profile-img">
          <i class="fa fa-user"></i>
        </div>
        <div class="new-kweet-content">
          <input #newkweettext type="text" class="new-kweet-textbox" placeholder="Wat houd je bezig?"
                 (click)="stopOverlayClick($event)"
                 maxlength="140" required/>
          <div class="new-kweet-actions">
            <button class="profile-btn btn-secondary kweet-btn" type="submit" (click)="stopOverlayClick($event)">Kweet</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
