<div class="login-form-container">
  <form class="login-form-wrapper" (submit)="login($event, username.value, password.value)">
    <div class="login-form">
      <input #username id="login-username" type="text" class="login-input" placeholder="Gebruikersnaam" required/>
      <input #password id="login-password" type="password" class="login-input" placeholder="Wachtwoord" required/>
      <button type="submit" class="btn-primary">Inloggen</button>
    </div>
  </form>
  <div class="register-form-wrapper">
    <form class="register-form">
      <img src="../../../../assets/images/Twitter_Logo_Blue.svg"/>
      <h2>Registreer vandaag op kwetter.</h2>
      <input #registerusername id="register-username" type="text" class="register-input" placeholder="Gebruikersnaam"/>
      <input #registerpassword id="register-password" type="password" class="register-input" placeholder="Wachtwoord"/>
      <button type="submit" class="btn-secondary" (click)="register($event, registerusername.value, registerpassword.value)">Aan de slag</button>
    </form>
  </div>
</div>
