.login-form-container{
  display: grid;
  grid-template-columns: repeat(3, [col] 1fr);
  grid-template-rows: [row]80px [row]1fr [row]80px;
  height: 100%;
}

.login-form-wrapper{
  grid-column: col 2 / span 2;
  grid-row: row 1;
  display: grid;
  grid-template-columns: repeat(3, [col] 1fr);
  grid-template-rows: repeat(3, [row] 1fr);
}

.login-form{
  grid-column: col 1 / span 3;
  grid-row: row 2;
}

.login-input{
  width: 180px;
}

.register-form-wrapper{
  grid-column: col 2;
  grid-row: row 2;
  display: grid;
  grid-template-columns: [col] 1fr;
  grid-template-rows: [row]80px [row]1fr [row]80px ;
  align-self: center;
}

.register-form{
  grid-column: col 1;
  grid-row: row 2;
}

.register-form img {
  width: 20%;
}

.register-input{
  width: 96%;
  margin: 8px 0;
}
