<app-kweet-overlay [authUser]="authUser" (notify)="onNotify($event)"></app-kweet-overlay>
<app-menu [authUser]="authUser" (notify)="onNotify($event)"></app-menu>
<div class="container" *ngIf="isDataAvailable">
  <div class="header"></div>
  <div class="sub-container">
    <div class="top-bar">
      <div class="profile-img"><i class="fa fa-user"></i></div>
      <div class="details">
        <div class="detail-box">
          <div class="detail-box-header">Tweets</div>
          <div class="detail-box-body">{{profileTweets?.length}}</div>
        </div>
        <div class="detail-box">
          <div class="detail-box-header">Volgend</div>
          <div class="detail-box-body">{{profile?.following?.length}}</div>
        </div>
        <div class="detail-box">
          <div class="detail-box-header">Volgers</div>
          <div class="detail-box-body">{{profile?.followers?.length}}</div>
        </div>
      </div>
      <div class="buttons">
        <button class="btn-blend" [routerLink]="['/'+ authUser?.name + '/profile']">Annuleren</button>
        <button class="btn-accent" (click)="editProfile(authUser, authUser?.name, bio.value, location.value, website.value)">Opslaan</button>
      </div>
    </div>
    <div class="content">
      <div class="profile-info">
        <b class="profile-info-item profile-info-name">{{ profile?.name }}</b>
        <span class="profile-info-item profile-info-name-at">@{{ profile?.name }}</span>
        <p class="profile-info-item profile-info-bio">
          <textarea #bio class="edit-input edit-text-area" type="text" placeholder="Biografie" mat-autosize="true">{{profile?.bio}}</textarea>
        </p>
        <p class="profile-info-item profile-info-location">
          <input #location class="edit-input" type="text" placeholder="Locatie" value="{{profile?.location}}"/>
        </p>
        <p class="profile-info-item profile-info-website">
          <input #website class="edit-input" type="text" placeholder="Website" value="{{profile?.website}}"/>
        </p>
      </div>
      <div class="overlay"></div>
      <app-kweet-feed [authUser]="authUser" [tweets]="profileTweets" [myFeed]="authUser?.name == profile?.name" (notify)="onNotify($event)"></app-kweet-feed>
      <app-followers-box [followers]="profile?.followers"></app-followers-box>
    </div>
  </div>
</div>
