@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import '../../../../assets/colors';

app-kweet-feed{
  grid-column: col 3;
  grid-row: row 1;
}

app-followers-box{
  grid-column: col 4;
  grid-row: row 1;
}

i{
  padding: 5px;
}

.container {
  display: grid;
  grid-template-columns: [col] 20% [col] 15% [col] 30% [col] 15% [col] 20%;
  grid-template-rows: [row] 46px [row] 500px [row] 100%;
  background: $background;
}

.header{
  grid-column: col 1 / span 5;
  grid-row: row 2;
  height: 100%;
  background-image: url("../../../../assets/images/profileheaderbackground_2.svg");
  background-size: cover;
}

.sub-container{
  grid-column: col 1 / span 5;
  grid-row: row 3;
  display: grid;
  grid-template-columns: [col] 20% [col] 15% [col] 30% [col] 15% [col] 20%;
  grid-template-rows: [row] 60px [row] 100%;
  grid-gap: 10px;
}

.top-bar{
  grid-column: col 1 / span 5;
  grid-row: row 1;
  display: grid;
  grid-template-columns: [col] 20% [col] 15% [col] 30% [col] 15% [col] 20%;
  grid-template-rows: [row] 60px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

.profile-img{
  grid-column: col 2;
  grid-row: row 1;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 5px solid #fff;
  background-color: $background;
  margin: -125px 0 0 10px;
  text-align: center;
  font-size: 195px;
  overflow: hidden;
}

.details{
  grid-column: col 3;
  grid-row: row 1;
}

.detail-box{
  box-sizing: border-box;
  display: inline-block;
  width: fit-content;
  height: 100%;
  padding: 15px;
  text-align: center;
}

.detail-box-header{
  font-size: 12px;
  font-weight: 700;
  color: $menu-text;
}

.detail-box-body{
  margin-top: 2px;
  font-size: 18px;
  font-weight: 700;
  color: $brand-color;
}

.buttons{
  grid-column: col 4;
  grid-row: row 1;
  align-self: center;
}

.content{
  grid-column: col 1 / span 5;
  grid-row: row 2;
  display: grid;
  grid-template-columns: [col] 20% [col] 15% [col] 30% [col] 15% [col] 20%;
  grid-template-rows: [row] 100%;
  grid-gap: 10px;
}

.profile-info{
  z-index: 101;
  grid-column: col 2;
  grid-row: row 1;
  margin-top: 30px;
  padding: 20px;
}

.profile-info-item{
  width: 100%;
  display: inline-block;
  font-size: 14px;
  margin-top: 0;
  font-weight: 400;
}

.profile-info-item i{
  color: $menu-text;
}

.profile-info-name{
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 5px;
}

.profile-info-name-at{
  color: $menu-text;
  margin-bottom: 5px;
}

.profile-info-location{
  color: $brand-color;
}

.profile-info-location a{
  color: $brand-color;
  text-decoration: none;
}

.profile-info-location a:hover{
  color: darken($brand-color, 20);
  text-decoration: underline;
}

.profile-info-website{
  color: $brand-color;
}

.profile-info-website a{
  color: $brand-color;
  text-decoration: none;
}

.profile-info-website a:hover{
  color: darken($brand-color, 20);
  text-decoration: underline;
}
