<app-kweet-overlay [authUser]="authUser" (notify)="onNotify($event)"></app-kweet-overlay>
<app-menu [authUser]="authUser" (notify)="onNotify($event)"></app-menu>
<div class="container" *ngIf="isDataAvailable">
  <div class="header"></div>
  <div class="sub-container">
    <div class="top-bar">
      <div class="profile-img"><i class="fa fa-user"></i></div>
      <div class="details">
        <div class="detail-box">
          <div class="detail-box-header">Tweets</div>
          <div class="detail-box-body">{{profileTweets?.length}}</div>
        </div>
        <div class="detail-box">
          <div class="detail-box-header">Volgend</div>
          <div class="detail-box-body">{{profile?.following?.length}}</div>
        </div>
        <div class="detail-box">
          <div class="detail-box-header">Volgers</div>
          <div class="detail-box-body">{{profile?.followers?.length}}</div>
        </div>
      </div>
      <div class="buttons">
        <button class="btn-secondary" *ngIf="authUser?.name != profile?.name" (click)="toggleFollow(profile?.followers, profile?.id, isFollowing(profile?.followers, authUser?.id))">{{isFollowing(profile?.followers, authUser?.id) == true ? "Unfollow": "Follow"}}</button>
        <button class="btn-blend" *ngIf="authUser?.name == profile?.name" [routerLink]="['/'+ authUser?.name + '/edit']">Profiel bewerken</button>
      </div>
    </div>
    <div class="content">
      <div class="profile-info">
        <b class="profile-info-item profile-info-name">{{ profile?.name }}</b>
        <span class="profile-info-item profile-info-name-at">@{{ profile?.name }}</span>
        <p class="profile-info-item profile-info-bio">{{ profile?.bio }}</p>
        <p class="profile-info-item profile-info-location"><i class="fas fa-map-marker-alt"></i><a href="{{'https://maps.google.com/?q=' + profile?.location}}">{{ profile?.location }}</a></p>
        <p class="profile-info-item profile-info-website"><i class="fas fa-link"></i><a href="{{profile?.website}}">{{ profile?.website }}</a></p>
      </div>
      <app-kweet-feed [authUser]="authUser" [tweets]="profileTweets" [myFeed]="authUser?.name == profile?.name" (notify)="onNotify($event)"></app-kweet-feed>
      <app-followers-box [followers]="profile?.followers"></app-followers-box>
    </div>
  </div>
</div>
