@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import '../../../../assets/colors';

app-profile-box{
  grid-column: col 2;
  grid-row: row 2;
}

app-kweet-feed{
  grid-column: col 3;
  grid-row: row 2;
}

.container {
  display: grid;
  grid-template-columns: [col] 20% [col] 15% [col] 30% [col] 15% [col] 20%;
  grid-template-rows: [row] 46px [row] 100%;
  grid-gap: 10px;
  background: $background;
}

.extra-container{
  grid-column: col 4;
  grid-row: row 2;
  background-color: #fff;
  height: 90px;
  padding: 10px;
  font-size: 12px;
  color: $menu-text;
}
