<app-kweet-overlay [authUser]="authUser" (notify)="onNotify($event)"></app-kweet-overlay>
<app-menu [authUser]="authUser" (notify)="onNotify($event)"></app-menu>
<div class="container">
  <app-profile-box [authUser]="authUser" [authUserTweets]="authUserTweets"></app-profile-box>
  <app-kweet-feed [authUser]="authUser" [tweets]="allTweets" [myFeed]="true" (notify)="onNotify($event)"></app-kweet-feed>
  <div class="extra-container">
    &copy; 2018 Demian Melskens (don't be a dick license)
  </div>
</div>
