<div class="container">
  <div *ngFor="let user of list" class="search-container">
    <div class="profile-img">
      <i class="fa fa-user"></i>
    </div>
    <div class="content">
      <div class="user-info">
        <b class="user-name" [routerLink]="['/'+user?.name+'/profile']">{{user?.name}}</b>
        <span>@{{user?.name}}</span>
      </div>
    </div>
  </div>
</div>
