$brand-color: #1da1f2;
$dark-brand-color: darken($brand-color, 10);
$light-brand-color: lighten($brand-color, 40);

$btn-blend: #fff;
$btn-blend-border: #66757f;

$background: #e6ecf0;
$menu-background: #fff;
$menu-text: #66757f;

$context-text: #14171a;

$search-background: #f5f8fa;
$search-border: #e6ecf0;
$search-color: #14171a;
$warning-color: #e0312b;

$menu-border-color: rgba(0, 0, 0, 0.25);
$menu-pagen-not-found-border-color: rgba(0, 0, 0, 0.15);

$kweet-bottom-border: #e6ecf0;
$kweet-icon-text: #657786;
$kweet-like-hover: #e0245e;

$new-kweet-background: #e8f5fd;
$new-kweet-textbox-border: rgba(29,161,242,0.4);
$new-kweet-text-color: rgba(29,161,242,0.6);

$overlay-background-color: rgba(29,161,242,0.25);

