@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import '../../../../assets/colors';

.menu {
  display: grid;
  grid-template-columns: [col] 20% [col] 25% [col] 10% [col] 25% [col] 20%;
  grid-template-rows: [row] 100%;
  position: fixed;
  width: 100vw;
  height: 46px;
  background: $menu-background;
  border-bottom: 1px solid $menu-border-color;
}

.buttons {
  grid-column: col 2;
  grid-row: row 1;
}

.logo {
  grid-column: col 3;
  grid-row: row 1;
  align-self: center;
  justify-self: center;
}

.menu-logo {
  width: 32px;
  height: 31px;
}

.menu-profile {
  grid-column: 4;
  grid-row: 1;
  display: grid;
  grid-template-columns: [col] 3fr [col] 1fr [col] 2fr;
  grid-template-rows: [row] 100%;
}

.menu-profile-search {
  display: block;
  border-radius: 21px;
  border: 1px solid #e6ecf0;
  color: #14171a;
  font-size: 12px;
  height: fit-content;
  line-height: 16px;
  transition: all .2s ease-in-out;
  width: 100%;
  outline: none !important;
  grid-column: col 1;
  grid-row: row 1;
  align-self: center;
  justify-self: center;
}

.menu-profile-search.focus {
  border: 2px solid $brand-color;
  background-color: $menu-background;
  box-shadow: none;
  color: $search-color;
}

.menu-profile-search-btn {
  display: inline-block;
  text-align: center;
  width: 44px;
  height: 32px;
  background: none;
  border: none;
  color: #66757f;
  outline: none;
  cursor: pointer;
}

.menu-profile-img {
  grid-column: col 2;
  grid-row: row 1;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: $background;
  font-size: 40px;
  text-align: center;
  overflow: hidden;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.no-display {
  display: none;
}

.drop-down-carrot {
  position: absolute;
  top: -10px;
  left: auto;
  right: 4px;
  width: 18px;
  height: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
}

.carrot{
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

.carrot-inner{
  margin-top: 1px;
  top: 1px;
  left: 1px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #fff;
  border-bottom-color: #fff;
}

.carrot-outer{
  border-bottom: 10px solid #657786;
  border-bottom-color: rgba(0,0,0,0.1);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: auto;
  left: 0;
  top: 0;
  width: auto;
}

.search-carrot{
  top: -10px;
  left: auto;
  right: 200px;
}

.menu-search-context{
  position: absolute;
  left: auto;
  right: calc(30% + 50px);
  top: 50px;
  width: 236px;
  height: fit-content;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
}

.menu-search-context-userbody{
  min-height: 100px;
  height: fit-content;
}

.profile-context-menu {
  position: absolute;
  left: auto;
  right: calc(30% - 10px - 0px);
  top: 50px;
  width: 192px;
  height: 164px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  display: grid;
  grid-template-columns: [col]1fr;
  grid-template-rows: [row]60px [row]11px [row]36px [row]11px [row]36px;
}

.profile-context-header{
  padding: 10px;
  grid-column: col 1;
  grid-row: row 1;
  width: 80%;
  justify-self: center;
  align-self: center;
  color: $menu-text;
  text-align: left;
}

.context-header-text{
  width: 100%;
  display: inline-block;
}

.context-title{
  color: $context-text;
  font-size: 18px;
  line-height: 24px;
  white-space: nowrap;
}

.context-sub{
  color: $menu-text;
  font-size: 14px;
  line-height: 20px;
}

.profile-context-divider1{
  width: 100%;
  color: rgba(0,0,0,0.1);
  grid-column: col 1;
  grid-row: row 2;
}

.profile-context-action1{
  grid-column: col 1;
  grid-row: row 3;
}

.profile-context-divider2{
  width: 100%;
  color: rgba(0,0,0,0.1);
  grid-column: col 1;
  grid-row: row 4;
}

.profile-context-action2{
  grid-column: col 1;
  grid-row: row 5;
}

.profile-btn {
  align-self: center;
  justify-self: left;
}
