<div class="menu" xmlns="">
  <div class="buttons">
    <button class="btn-menu" [ngClass]="{'activated': router?.url == '/home'}" [routerLink]="['/home']"><i class="fa fa-home"></i> Startpagina</button>
    <button class="btn-menu" [ngClass]="{'activated': router?.url == ('/'+authUser?.name+'/profile')}" [routerLink]="['/'+authUser?.name+'/profile']"><i class="fa fa-user"></i> Profile</button>
  </div>
  <div class="logo">
    <img class="menu-logo" src="../../../../assets/images/Twitter_Logo_Blue.svg"/>
  </div>
  <div class="menu-profile">
    <div class="menu-profile-search {{focus}}">
      <input #search type="search" placeholder="Kwetter doorzoeken" (focus)="searchFocus()" (blur)="searchBlur()" (change)="find(search.value)">
      <button class="menu-profile-search-btn"><i class="fa fa-search profile-search-icon"></i></button>
    </div>
    <div *ngIf="foundUsers?.length > 0" class="menu-search-context">
      <div class="drop-down-carrot search-carrot">
        <div class="carrot-outer carrot"></div>
        <div class="carrot-inner carrot"></div>
      </div>
      <div class="menu-search-context-userbody">
        <app-search-box [list]="foundUsers"></app-search-box>
      </div>
    </div>
    <div class="menu-profile-img" (click)="toggleContextMenu()">
      <i class="fa fa-user"></i>
    </div>
    <div *ngIf="visible" class="profile-context-menu">
      <div class="drop-down-carrot">
        <div class="carrot-outer carrot"></div>
        <div class="carrot-inner carrot"></div>
      </div>
      <div class="profile-context-header">
        <b class="context-title context-header-text">{{ authUser?.name }}</b>
        <span class="context-sub context-header-text">@{{ authUser?.name }}</span>
      </div>
      <hr class="profile-context-divider1"/>
      <div class="profile-context-action1">
        <button class="action-btn" (click)="profileClick($event)">
          <i class="fa fa-user-o"></i><span>Profiel</span>
        </button>
      </div>
      <hr class="profile-context-divider2"/>
      <div class="profile-context-action2">
        <button class="action-btn" (click)="logout()">
          <span>Uitloggen</span>
        </button>
      </div>
    </div>
    <button class="profile-btn btn-secondary" (click)="toggleOverlay()">Kweeten</button>
  </div>
</div>
