//icons
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

//fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

//mixins
@import './assets/normalize.scss';
@import './assets/colors.scss';

/* You can add global styles to this file, and also import other style files */

body{
  font-family: 'Open Sans', sans-serif;
}

// <components>
app-login-form{
  grid-column: col 2;
  grid-row: row 1;
}

app-register-form{
  grid-column: col 2;
  grid-row: row 1;
}

// <input markup>
input[type="text"]{
  height: 20px;
  border-radius: 3px;
  border: 1px solid #cecece;
  margin: 8px;
  padding: 12px;
  font-weight: 400;
  font-size: 14px;
}

input[type="text"] .invalid{
  border-color: $warning-color;
}

textarea{
  border-radius: 3px;
  border: 1px solid #cecece;
  margin: 8px;
  padding: 12px;
  font-weight: 400;
  font-size: 14px;
}

textarea .invalid{
  border-color: $warning-color;
}

input[type="password"]{
  height: 20px;
  border-radius: 3px;
  border: 1px solid #cecece;
  margin: 8px;
  padding: 12px;
  font-weight: 400;
  font-size: 14px;
}

input[type="search"]{
  display: inline-block;
  height: 100%;
  padding: 8px 32px 8px 12px;
  border: none;
  background: none;
  outline: none;
  width: calc(100% - 48px);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
// </input markup>


// <btn markup>
.btn{
  border-radius: 50px;
  border: 1px solid $brand-color;
  outline: none !important;
  width: fit-content;
}

.btn:hover{
  cursor: pointer;
}

.btn-primary{
  @extend .btn;
  height: 46px;
  background-color: #fff;
  color: $brand-color;
  margin-top: 12px;
  padding: 12px;
  line-height: 20px;
  font-weight: 700;
  font-size: 14px;
}

.btn-primary:hover{
  background-color: $light-brand-color;
}

.btn-secondary{
  @extend .btn;
  height: 34px;
  background-color: $brand-color;
  color: #fff;
  padding: 6px 16px;
  line-height: 20px;
  font-weight: 700;
  font-size: 14px;
}

.btn-secondary:hover{
  background-color: $dark-brand-color;
}

.btn-secondary:disabled{
  background-color: lighten($brand-color, 20);
  cursor: default;
}

.btn-blend{
  @extend .btn;
  height: 34px;
  background-color: $btn-blend;
  border: 1px solid $btn-blend-border;
  color: $btn-blend-border;
  padding: 6px 16px;
  line-height: 20px;
  font-weight: 700;
  font-size: 14px;
}

.btn-blend:hover{
  background-color: darken($btn-blend, 10);
}

.btn-blend:disabled{
  color: lighten($btn-blend-border, 20);
  border: 1px solid lighten($btn-blend-border, 20);
  cursor: default;
}

.btn-accent{
  @extend .btn;
  height: 34px;
  background-color: $btn-blend;
  border: 1px solid $brand-color;
  color: $brand-color;
  padding: 6px 16px;
  line-height: 20px;
  font-weight: 700;
  font-size: 14px;
}

.btn-accent:hover{
  background-color: darken($btn-blend, 10);
}

.btn-accent:disabled{
  color: lighten($brand-color, 20);
  border: 1px solid lighten($brand-color, 20);
  cursor: default;
}

.btn-menu{
  height: 100%;
  background: $menu-background;
  color: $menu-text;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 6px 16px;
  line-height: 13px;
  font-weight: 700;
  font-size: 13px;
  transition: all .15s ease-in-out;;
  outline: none;
  cursor: pointer;
}

.btn-menu i{
  font-size: 21px;
}

.btn-menu:hover{
  color: $brand-color;
  border-bottom: 2px solid $brand-color;
}

.btn-menu.activated{
  color: $brand-color;
  border-bottom: 2px solid $brand-color;
}

.action-btn{
  font-size: 14px;
  font-weight: 400;
  color: $context-text;
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  padding: 10px 20px;
  text-align: left;
  outline: none;
}

.action-btn i{
  margin-right: 10px;
}

.action-btn:hover{
  color: #fff;
  background-color: $brand-color;
}
// </btn markup>
